<div class="main">
    <div class="img-box">
        <img width="80%" height="80%" src="https://source.unsplash.com/random/900×700/?fruit" alt="Image">
    </div>
    <div class="content">
        <h1>Solar panel Yojana घरावर सोलार पॅनल बसवण्यासाठी मिळणार 60 टक्के अनुदान ऑनलाइन अर्ज सुरू</h1>
    </div>
    <div class="text">
        <p>आज तुम्ही तुमच्या घराच्या छतावर सोलार पॅनल लावून तुम्हाला आवश्यक असलेली वीज सहजपणे निर्माण करू शकता. या कामात सरकार तुम्हाला मदत करण्यास सज्ज आहे आणि तुमचा खर्च कमी करण्यासाठी सोलर पॅनलवर सबसिडीही देते. सोलार पॅनल बसवण्यासाठी किती खर्च येईल आणि सरकारकडून किती सबसिडी मिळेल ते जाणून घेऊया Solar Panel Yojan.</p>
    </div>
    <div class="text">
        <p>सौरऊर्जेला चालना देण्यासाठी Solar panel Yojana शासनाने रूफ टॉप सोलार योजना राबवली आहे. या योजनेच्या माध्यमातून तुम्हाला घरावर सोलर बसवण्यासाठी अनुदान दिले जाते. याच्या माध्यमातून लाभार्थी वीज निर्मिती करून आपल्या वैयक्तिक वापरासाठी वीज वापरू शकतो. या योजनेअंतर्गत शासन ३ किलो वॅट ते पर्यंतच्या सौर पॅनल साठी ४० टक्के अनुदान देते तर ३ किलो पासून १० पर्यंतच्या सौर पॅनल साठी २० टक्के अनुदान देते Solar Panel Yojana.</p>
    </div>
    <div class="text">
        <p><a>अर्ज कसा करायचा व कोण कोणती कागदपत्रे लागतात</a></p>
    </div>
</div>