<div class="main">
    <ng-container *ngIf="content">
        <div class="img-box">
            <img width="80%" height="80%" src="{{content.img}}" alt="Image">
        </div>
        <div class="content">
            <h1>{{content.heading}}</h1>
        </div>
        <div class="text">
            <p>{{content.cont1}}</p>
        </div>
        <div class="text">
            <p>{{content.cont2}}</p>
        </div>
        <div class="text">
            <p><a>{{content.link}}</a></p>
        </div>
    </ng-container>
</div>