.box {
    width: 95vw;
    min-height: 70vh;
    margin: 20px auto;
    display: flex;

    .left {
        width: 70%;
        min-height: 85vh;
        border: 2px solid orange;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        width: 28%;
        margin: 0 15px;
        // min-height: 82vh;
        max-height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        // position: fixed;
        // right: 20px;
    }
}

app-footer {
    text-align: center;
    width: 100%;
}